@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.formLogin{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    position: relative;
    display: block;
    margin: 100px auto;
    width: 400px;
    height: 500px;
    background-color: rgb(13, 13, 13);
    text-align: center;
    padding-top: 20px;
}
h1{
    margin-bottom: 50px;
}
.usernameInp, .passwordInp{
    position: relative;
    width: 100%;
    height: 70px;
    margin-left: 15px;
}
input{
    padding: 10px;
    width: 300px;
    height: 20px;
    outline: none;
    background-color: black;
    color: #fff;
    border: none;
}
.formLogin ion-icon{
    font-size: 30px;
    margin-top: 10px;
    position: absolute;
    top: -8px;
    left: 5px;
}
.btnLogin{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    cursor: pointer;
    font-size: 20px;
    width: 300px;
    height: 40px;
    margin-top: 30px;
    background-color: #c1c1c1;
    border: none;
    color: #000;
    transition: all .5s;
}
.active{
    font-weight: 500;
    background-color: red;
    color: white
}
button[disabled=disabled], button:disabled {
    cursor: not-allowed;
}
.closeTab{
    cursor: pointer;
    font-size: 40px;
}
.iShow{
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 80px;
}